div {
   border-radius: 5px;
}

ul {
   list-style: none;
}

ul:first-child {
   display: flex;
}

h3:first-child {
   margin-top: 50px;
}
#header {
   position: fixed;
   z-index: 1;
   height: 40px;
   width: 98%;
   background-color: #668284;
   margin-bottom: 10px;
   margin-top: -5px;
}

span {
   padding: 5px;
   font-weight: bold;
   font-size: larger;
}

#name {
   float: left;
   margin-left: 20px;
   padding-bottom: 10px;
   font-size: 16px;
   font-family: Verdana, sans-serif;
   color: #ffffff;
}

img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-top: 50px;
}

#email {
   float: right;
   margin-right: 20px;
   padding-bottom: 10px;
   font-size: 16px;
   font-family: Verdana, sans-serif;
   color: #ffffff;
}

#contact {
   margin-left: 45%;
   padding-bottom: 10px;
   font-size: 16px;
   font-family: Verdana, sans-serif;
   color: #ffffff;
}

a:hover {
   font-weight: bold;
}

.right {
   float: left;
   margin-top: 50px;
   padding-left: 5px;
   height: auto;
   width: 99%;
   background-color: #e3edd8;
}

#footer {
   height: 40px;
   clear: both;
   position: relative;
   background-color: #c1e3e1;
}

h3 {
   text-decoration: underline;
}

#job-responsibilities {
   padding: 1px;
}
.job-title {
   font-weight: bold;
}
table {
   border: 1px dashed black;
}
td {
   padding: 2px;
   border: 1px solid #e88741;
}

#course-name {
   font-weight: bold;
}

#company-name {
   height: 2px;
   text-decoration: underline;
}
#job-title {
   height: 5px;
}
.job-duration {
   float: right;
}
#heading {
   font-weight: bold;
}
